.wrap
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 0 auto
    max-width: 1180px
    background: #fff
    
.wrap-nav
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 0
    width: 100%
    max-width: 1180px
    background: #fff