@media screen and (max-width: 1230px)
    .popsign
        right: -100px
        & i
            &:after
                right: -63%
    
@media screen and (max-width: 1080px)
    .sign
        width: 3%
    .sign__item
        display: none
    .sign__item-mob
        display: block
    .pseudo-sign::before
        left: 50%
    .countries
        width: 3%
        margin: 0 5% -0px 0
    .countries__item
        display: none
    .countries__item-mob
        display: block
    .popsign
        right: -50px    
    .pseudo-country:after
        display: none
    .pseudo-sign:after
        display: none
    .popcountry-top
        top: 50px
        right: -6px
    .pseudo-menu::before
        left: -30%
    .whitespace
        width: 43%
    .popsign i:after
        right: -88%
    .popcountry-top i::after
        right: -97.6%
        
@media screen and (max-width: 800px)
    .whitespace
        width: 33%
    
@media screen and (max-width: 800px)
    .menu,
    .sign,
    .countries
        display: none
    
    .menu-mob
        display: block
    
    .pseudo-menu::before
        top: 5px
        left: 50%
    
    .box
        display: block
    
    .sign__item
        display: none
        &-mob
            display: block
    
    .whitespace-right
        display: none
    .whitespace-left
        display: block

@media screen and (max-width: 600px)
    .search
        position: absolute
        top: 44px
        width: 100vw
        padding: 15px 0 10px
        background-color: #324b5c
        display: none
        &__content
            margin: 0 auto
    .search__btn-custom
        top: 0
        right: 10px
    .search-mob
        display: block
    .popsign__item-sign
        width: 70%
        margin: 0 auto !important
        text-align: center
        color: #fff !important
        