.pseudo
    display: block
    width: 100%
    position: relative
    &-menu
        &:before
            content: ''
            position: absolute
            top: 20%
            left: -20%
            transform: translate(-50%, 0)
            background-repeat: no-repeat
            background-image: url('../img/menu-options.svg')
            width: 35px
            height: 30px
            background-size: 35px 25px
    &-sign
        &:before
            content: ''
            position: absolute
            top: 0%
            left: 10%
            transform: translate(-50%, 0)
            background-repeat: no-repeat
            background-image: url('../img/male.svg')
            width: 25px
            height: 25px
            background-size: 22px 20px
        &:after
            content: ''
            position: absolute
            top: 3%
            right: 10%
            transform: translate(-50%, 0)
            background-repeat: no-repeat
            background-image: url('../img/down-arrow.svg')
            width: 25px
            height: 25px
            background-size: 22px 20px
        &-mob
            padding-left: 50px !important
            &:before
                content: ''
                position: absolute
                top: 25%
                left: 8%
                transform: translate(-50%, 0)
                background-repeat: no-repeat
                background-image: url('../img/male.svg')
                width: 25px
                height: 25px
                background-size: 22px 20px
    &-country
        &:before
            content: ''
            position: absolute
            top: 0%
            left: 2%
            background-repeat: no-repeat
            background-image: url('../img/grid-world.svg')
            width: 35px
            height: 30px
            background-size: 35px 22px
            color: #324b5c
        &-mob
            padding-left: 50px !important
            &:before
                content: ''
                position: absolute
                top: 25%
                left: 8%
                transform: translate(-50%, 0)
                background-repeat: no-repeat
                background-image: url('../img/grid-world.svg')
                width: 25px
                height: 25px
                background-size: 22px 20px
    &-place
        &:before
            content: ''
            position: absolute
            top: 35%
            left: 0
            background-repeat: no-repeat
            background-image: url('../img/placeholder.svg')
            width: 16px
            height: 24px
            background-size: 16px
            visibility: hidden
            opacity: 0
//            transform: translate(-50%, 0)