.countries
    width: 15%
    height: 44px
    padding: 0.75em 0 0 0
    text-align: center
    box-sizing: border-box
    position: relative
    &__item
        display: block
        &-mob
            display: none
    &-left
        margin-top: auto