.countries:hover div.popcountry-top
    visibility: visible
    opacity: 1
    transform: translateY(0)
    
.countries:hover .popcountry
    visibility: visible
    opacity: 1
    
.countries:hover .visible .popcountry__list
    visibility: visible
    opacity: 1

.countries:hover i
        visibility: visible
        opacity: 1
        transition: all 0.4s
        &:after
            top: 6px
    
.popcountry
    padding: 18px 0
    list-style: none
    margin: 0
    padding: 25px 0 0 0
    z-index: 100
    height: auto
    visibility: hidden
    opacity: 0
    &-top
        width: 560px
        position: absolute
        top: 44px
        margin: 0
        padding: 0
        list-style: none
        right: 0
        visibility: hidden
        opacity: 0
        transform: translateY(-15px)
        transition: all 0.4s
    & li
        width: 34%
        list-style: none
        box-sizing: border-box
        text-align: left
        &.visible .popcountry__link
            background-color: #e1e8eb
    &__link
        width: 100%
        display: block
        position: relative
        z-index: 2
        font-size: 18px
        padding: 8px 10px 8px 10px
        box-sizing: border-box
        cursor: pointer
    &__list
        position: absolute
        top: 5px
        left: 0px
        width: 66%
        padding: 17px 0 17px 34%
        box-sizing: content-box
        background: #e1e8eb
        margin-left: -34%
        min-height: 210px
        margin: 0
        list-style: none
        visibility: hidden
        opacity: 0
        //transition: all 0.4s
        z-index: 1
        &:before
            width: 34%
            background: #cedade
            content: ""
            display: block
            position: absolute
            top: 0
            left: 0
            z-index: 1
            bottom: 0
    &__active        
        background: #e1e8eb
        z-index: 1000    

//.popcountry li:hover .popcountry__list
//    display: block
//    visibility: visible
//    opacity: 1
//
//.countries__item:hover .popcountry-top
//    display: block
//    visibility: visible
//    opacity: 1 

.countrylist
    float: left
    width: 50%
    text-align: center
    & li
        width: 100%
        display: block
        text-align: center
        position: relative
        z-index: 2
        & span
            width: 100%
            
            
.countrylist-item:hover .pseudo-place
    &:before
        visibility: visible
        opacity: 1
    
.country
    position: relative
    padding: 5px 8px 5px 30px
    font-size: 19px
    display: block
    color: #324b5c
    text-decoration: none
    text-align: left
    box-sizing: border-box
    &:hover
        text-decoration: underline
    &__active
        font-weight: bold
        text-decoration: underline
        &:before
            visibility: visible
            opacity: 1
    
.popcountry__link:hover .visible .popcountry__list
    visibility: hidden
    opacity: 0
    
.popcountry__link:hover .popcountry__list
    visibility: visible
    opacity: 1
