.sign
    width: 10%
    height: 44px
    padding: 0.75em 0 0 0
    box-sizing: border-box
    position: relative
    &__item
        width: 70%
        padding: 0 0 0 30%
        &-mob
            display: none